/* */



body {
    background: #fcfcfc;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid #fcfcfc;
    border-radius: 50px;
    
    }
    
#title, .subtitle, .post_title {
    color: blue;
}

.post_title{
    font-size 15px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid  black;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
    max-width: 100%;
}